.header {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.header a {
    color: red;
    font-size: 24px;
    text-decoration: none;
}