.flexbox{
    display: flex;
    justify-content: space-around;
}

.flexbox div{
    background-color: lightgray;
    border: 2px solid gray;
    padding: 10px;
    margin: 5px;
    width: 100px;
    text-align: center;
}