.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcd7d7;
  padding: 0.5em 1em;
  color: white;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 10px;
}
